<template>
  <section class="signup">
    <div class="container1">
      <div class="signup-content d-flex">
        <div class="signup-form">
          <v-alert v-if="success" dense outlined type="success" dismissible>
            {{ $t("successRegister") }}
          </v-alert>
          <v-alert v-if="failed" dense outlined type="error" dismissible>
            {{ $t("failed") }}
          </v-alert>
          <h2 class="form-title">{{ $t("register") }}</h2>
          <form
            @submit.prevent="submit"
            class="register-form"
            id="register-form"
          >
            <v-text-field
              v-model="form.first_name"
              :error-messages="errors.first_name"
              :label="$t('userName')"
              prepend-icon="mdi-account"
              type="text"
            ></v-text-field>
            <v-text-field
              v-model="form.email"
              :label="$t('email')"
              :error-messages="errors.email"
              prepend-icon="mdi-email"
              type="email"
            ></v-text-field>
            <v-text-field
              v-model="form.login_name"
              :label="$t('login_name')"
              :error-messages="errors.login_name"
              prepend-icon="mdi-email"
              type="text"
            ></v-text-field>
            <!-- <v-select
              v-model="form.role"
              :items="roles"
              :rules="[v => !!v || 'Item is required']"
              :label="$t('role')"
              prepend-icon="mdi-account-circle"
              required
              item-text="name"
              item-value="value"
            ></v-select> -->
            <v-text-field
              v-model="form.password"
              :label="$t('password')"
              :error-messages="errors.password"
              prepend-icon="mdi-lock"
              :append-icon="passvalue ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="() => (passvalue = !passvalue)"
              :type="passvalue ? 'password' : 'text'"
            ></v-text-field>
            <v-text-field
              v-model="form.password"
              :label="$t('rePassword')"
              prepend-icon="mdi-lock-outline"
              :append-icon="passvalue1 ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="() => (passvalue1 = !passvalue1)"
              :type="passvalue1 ? 'password' : 'text'"
            ></v-text-field>
            <v-btn color="primary" type="submit" depressed :loading="form.busy">
              {{ $t("register") }}
            </v-btn>
          </form>
        </div>
        <div class="signup-image">
          <figure>
            <img src="../../assets/bg/signup-image.jpg" alt="sing up image" />
          </figure>
          <!-- <a href="/auth/login" class="signup-image-link">I am already member</a> -->
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
import { mdiAccount } from "@mdi/js";
export default {
  // middleware: 'auth',
  // layout: 'admin',
  data() {
    return {
      passvalue1: String,
      passvalue: String,
      success: false,
      failed: false,
      remember: false,
      roles: this.$store.getters["roles/role"],
      icons: {
        mdiAccount
      },
      form: {
        email: "test@test.com",
        login_name: "test",
        first_name: "test",
        password: "",
        role: "student"
      },
      errorsInfo: {
        first_name: [],
        email: [],
        password: ""
      },
      roles: [
        { name: this.$t("admin"), value: this.$store.getters["roles/role"].ADMIN },
        { name: this.$t("teacher"), value: this.$store.getters["roles/role"].TEACHER },
        { name: this.$t("student"), value: this.$store.getters["roles/role"].STUDENT }
      ]
    };
  },

  methods: {
    async submit() {
      await axios.post("/register", this.form).then(
        data => {
          this.success = true;
          // Хэрэглэгчийн бүртгэлийн жагсаалтлуу шилжих
          // this.$router.push("/user/admin/users");
          this.$store.dispatch("auth/saveToken", {
            token: data.data.meta.token,
            remember: this.remember
          });

          this.$store.dispatch("auth/fetchUser").then(res => {
            return this.$router.push("/");
          });
        },
        err => {
          this.failed = true;
          console.error(err);
          if (err.name == "NetworkError") {
            console.log("There was a network error.");
            return;
          }
        }
      );
    }
  }
};
</script>
<style>
img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 36px;
}

body {
  font-size: 17px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Poppins;
}

.container1 {
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.438);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.178);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.signup-content {
  padding: 75px 0;
}

.signup-form,
.signup-image,
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
}

.signup-image {
  margin: 0 55px;
}

.form-title {
  margin-bottom: 33px;
}

.signup-image {
  margin-top: 45px;
}

figure {
  margin-bottom: 50px;
  text-align: center;
}

#signin {
  margin-top: 16px;
}

.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center;
}

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}

.register-form {
  width: 100%;
}

.signin-form {
  margin-right: 90px;
  margin-left: 80px;
}

.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .container1 {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container1 {
    max-width: 1200px;
  }
}
@media screen and (max-width: 768px) {
  .signup-content,
  .signin-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    /* box-sizing: border-box; */
    padding: 0 30px;
  }

  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2;
  }

  .signup-form,
  .signup-image,
  .signin-form,
  .signin-image {
    width: auto;
  }

  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px;
  }

  .form-title {
    text-align: center;
  }
}
</style>
