<template>
  <v-container>
    <v-overlay :value="loading">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
    <v-row class="justify-space-between mt-2">
      <v-col md="6">
        <div class="content">
          <v-avatar @click="routeMore" style="cursor: pointer">
            <img
              :src="
                'https://randomuser.me/api/portraits/men/' +
                  courseData.user_id +
                  '.jpg'
              "
              alt="John"
            />
          </v-avatar>
          <v-divider vertical class="mx-4"></v-divider>
          <span class="content">
            <span @click="routeMore" style="cursor: pointer">
              <p class="mb-0">{{ $t("teacher") }}:</p>
              <p class="mb-0 font-weight-bold">{{ userInfo.first_name }}</p>
            </span>

            <v-divider vertical class="mx-4"></v-divider>
            <span>
              <p class="mb-0">{{ $t("category") }}:</p>
              <p class="mb-0 font-weight-bold">Бизнес</p>
            </span>
            <v-divider vertical class="mx-4"></v-divider>
            <span>
              <p class="mb-0">{{ $t("rate") }}:</p>
              <p class="mb-0">
                <v-rating
                  v-model="avgRate"
                  color="yellow darken-3"
                  background-color="yellow darken-3"
                  half-increments
                  dense
                  readonly
                  small
                ></v-rating>
              </p>
            </span>
          </span>
        </div>
      </v-col>
      <v-col md="6" class="text-right">
        <v-row class="justify-end">
          <v-col class="pt-5 text-right">
            <span class="mr-3 text-h5 font-weight-bold" style="color: #5C6BC0;">
              {{ courseData.price | numeral(0, 0) }}₮
            </span>
          </v-col>
          <v-col sm="6" md="4">
            <v-btn class="bg-gradient" dark large @click="buyCourse">
              {{ $t("buy") }}
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <div class="row justify-center">
      <div class="col-md-8">
        <vue-plyr ref="plyr">
          <video poster="/img/online.jpg" controls playsinline :src="video_url">
            <!-- <track
              kind="captions"
              label="English"
              srclang="en"
              src="/video/sample-subtitles-en.vtt"
              default
            /> -->
          </video>
        </vue-plyr>
        <v-tabs fixed-tabs class="mt-4">
          <v-tab>
            {{ $t("about-lesson") }}
          </v-tab>
          <!-- <v-tab>
            {{ $t("about-teacher") }}
          </v-tab> -->
          <v-tab>
            {{ $t("lesson-rate") }}
          </v-tab>

          <!-- 1st tab -->
          <v-tab-item>
            <v-container>
              <v-row class="justify-center text-center">
                <v-col>
                  <v-icon color="deep-purple">
                    mdi-school
                  </v-icon>
                  <p class="mb-0 font-weight-bold">Анхан дунд</p>
                  <p class="mb-0">{{ $t("level") }}</p>
                </v-col>
                <v-col>
                  <v-icon color="primary">
                    mdi-google-translate
                  </v-icon>
                  <p class="mb-0 font-weight-bold">Монгол</p>
                  <p class="mb-0">{{ $t("language") }}</p>
                </v-col>
                <v-col>
                  <v-icon color="pink">
                    mdi-book-open-page-variant
                  </v-icon>
                  <p class="mb-0 font-weight-bold">{{}}</p>
                  <p class="mb-0">{{ $t("lectures") }}</p>
                </v-col>
                <v-col>
                  <v-icon color="indigo">
                    mdi-account-group
                  </v-icon>
                  <p class="mb-0 font-weight-bold">{{ 417 }}</p>
                  <p class="mb-0">{{ $t("students") }}</p>
                </v-col>
                <v-col>
                  <v-icon color="deep-orange">
                    mdi-file-certificate
                  </v-icon>
                  <p class="mb-0 font-weight-bold">{{ 1 }}</p>
                  <p class="mb-0">{{ $t("exam") }}</p>
                </v-col>
              </v-row>
              <div class="row" v-html="courseData.description">
                <!-- {{courseData.description}} -->
              </div>
            </v-container>
          </v-tab-item>

          <!-- 2nd tab -->
          <v-tab-item>
            <v-container>
              <div class="row">
                <div class="col-md-4 text-center">
                  <p
                    class="text-h2 font-weight-medium mb-4"
                    style="color: #757575"
                  >
                    {{ avgRate | numeral("0.0") }}
                  </p>
                  <v-rating
                    v-model="avgRate"
                    color="yellow darken-3"
                    background-color="yellow darken-3"
                    half-increments
                    dense
                    readonly
                  ></v-rating>
                  <p class="pt-3">
                    <v-icon>
                      mdi-account
                    </v-icon>
                    {{ $t("total") + " " + totalRate }}
                  </p>
                </div>
                <div class="col-md-8">
                  <div class="row" v-for="item in rates" :key="item.rate">
                    <div
                      class="col-1 text-right pr-0 text-body-2 pb-0"
                      style="color: #757575;"
                    >
                      {{ item.rate }}
                    </div>
                    <div class="col pb-0">
                      <v-progress-linear
                        :value="(item.count / totalRate) * 100"
                        height="20"
                      >
                        <strong
                          >{{
                            Math.ceil((item.count / totalRate) * 100)
                          }}%</strong
                        >
                      </v-progress-linear>
                    </div>
                  </div>
                </div>
              </div>
            </v-container>
          </v-tab-item>
        </v-tabs>
      </div>

      <!-- Rigth section -->
      <div class="col-md-4">
        <v-expansion-panels v-model="panel" multiple>
          <v-expansion-panel
            v-for="(item, ind) in courseData.groups"
            :key="ind"
            class="mb-2"
          >
            <v-expansion-panel-header>
              {{ item.name }}
              <template v-slot:actions>
                <v-icon color="primary">
                  $expand
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-list dense>
                <v-list-item-group v-model="selectedItem[ind]" color="primary">
                  <v-list-item
                    v-for="(itemr, i) in item.contents"
                    :key="i"
                    @click="chooseContent(itemr)"
                  >
                    <v-list-item-icon>
                      <v-icon
                        v-text="'mdi-lock'"
                        dense
                        color="deep-purple accent-4"
                      ></v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title>
                        {{ $t("lesson") + " " + (i + 1) + ": " + itemr.title }}
                      </v-list-item-title>
                    </v-list-item-content>
                    <span class="text-caption">{{
                      secondsToHms(itemr.expired_time)
                    }}</span>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
      <div class="col-md-8 mt-4">
        <p class="font-weight-medium">{{$t('comment')}}</p>
        <v-timeline dense clipped>
          <v-timeline-item
            fill-dot
            class="white--text mb-5"
            color="orange"
            large
          >
            <template v-slot:icon>
              <span>MN</span>
            </template>
            <v-text-field
              v-model="input"
              hide-details
              flat
              :label="$t('leave_comm')"
              solo
              @keydown.enter="comment"
            >
              <template v-slot:append>
                <v-btn class="mx-0" depressed @click="comment">
                  {{ $t("post") }}
                </v-btn>
              </template>
            </v-text-field>
          </v-timeline-item>

          <v-slide-x-transition group>
            <v-timeline-item
              v-for="event in timeline"
              :key="event.id"
              class="mb-3"
              color="pink"
              small
            >
              <v-layout justify-space-between>
                <v-flex xs7 v-text="event.text"></v-flex>
                <v-flex xs5 text-xs-right v-text="event.time"></v-flex>
              </v-layout>
            </v-timeline-item>
          </v-slide-x-transition>
        </v-timeline>
      </div>
    </div>
  </v-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert2";
export default {
  data() {
    return {
      title: "hello world",
      panel: [0],
      selectedItem: [0],
      allRateCount: 5,
      totalRate: 0,
      avgRate: 0,
      first_name: "",
      userInfo: {},
      courseData: {},
      loading: false,
      video_url: "/video/infovideo720.mp4",
      items: [
        { text: "Real-Time", icon: "mdi-clock" },
        { text: "Audience", icon: "mdi-account" },
        { text: "Conversions", icon: "mdi-flag" }
      ],
      rates: [
        {
          rate: 5,
          count: 49
        },
        {
          rate: 4,
          count: 27
        },
        {
          rate: 3,
          count: 11
        },
        {
          rate: 2,
          count: 10
        },
        {
          rate: 1,
          count: 10
        }
      ],
      events: [],
      input: null,
      nonce: 0
    };
  },
  head() {
    return {
      title: this.title,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "description",
          name: "description",
          content: "My custom description"
        }
      ]
    };
  },

  computed: {
    timeline() {
      return this.events.slice().reverse();
    }
  },

  mounted() {
    this.getSumRate();
    this.getAvgRate();
    this.getCourseInfo();
  },

  methods: {
    comment() {
      if (this.input) {
        const nowTime = new Date();
        const time = nowTime.getHours() + ":" + nowTime.getMinutes();
        this.events.push({
          id: this.nonce++,
          text: this.input,
          time: time.replace(
            /:\d{2}\sGMT-\d{4}\s\((.*)\)/,
            (match, contents, offset) => {
              return ` ${contents
                .split(" ")
                .map(v => v.charAt(0))
                .join("")}`;
            }
          )
        });
        this.input = null;
      }
    },

    getSumRate() {
      let sum = 0;
      this.rates.forEach(element => {
        sum += element.count;
      });
      this.totalRate = sum;
    },

    getAvgRate() {
      let sum = 0,
        allRateSum = 0;
      this.rates.forEach(element => {
        sum += element.count;
        allRateSum += element.count * element.rate;
      });
      this.avgRate = allRateSum / sum;
    },

    getCourseInfo() {
      this.loading = true;
      axios.get("/course/" + this.$route.params.id).then(
        res => {
          this.loading = false;
          this.courseData = res.data.data;
          this.userInfo = this.courseData.user;
          if (this.courseData.groups.length > 0) {
            if (this.courseData.groups[0].contents.length > 0) {
              this.video_url = process.env.hostUrl + "/video/" + this.courseData.groups[0].contents[0].video_url;
            }
          }
        },
        err => {
          this.loading = false;
          console.log("Aldaa garlaa", err);
        }
      );
    },

    chooseContent(item) {
      this.selectedItem = [];
      if (item.video_url) {
        this.video_url = process.env.hostUrl + "/video/" + item.video_url;
      } else {
        swal.fire(this.$t("buy"), this.$t("infoBuy"), "info");
      }
    },

    // Хичээл худалдаж авах
    buyCourse() {
      if (this.user) {
        let tran = {
          course_id: this.$route.params.id
        };
        // Төлбөр төлөлт амжилттай хийгдсэн үед доорх function ажиллах ёстой.
        axios.post("/course/transaction", tran).then(res => {
          this.getCourseInfo();
          swal.fire(
            this.$t("buying"),
            this.$t("Төлбөр төлөлт амжилттай хийгдлээ."),
            "success"
          );
        });
      } else {
        swal.fire(this.$t("buy"), this.$t("infoBuy"), "info");
      }
    },

    secondsToHms(d) {
      d = Number(d);
      var h = Math.floor(d / 3600);
      var m = Math.floor((d % 3600) / 60);
      var s = Math.floor((d % 3600) % 60);

      var hDisplay = h > 0 ? (h < 10 ? "0" + h + " : " : h + " : ") : "";
      var mDisplay = m > 0 ? (m < 10 ? "0" + m + " : " : m + " : ") : "00 : ";
      var sDisplay = s < 10 ? "0" + s : s;
      return hDisplay + mDisplay + sDisplay;
    },

    routeMore() {
      return this.$router.push("/user/teacher/" + this.userInfo.id);
    }
  }
};
</script>
