<template>
  <div>
    <!-- Шинээр грүүп үүсгэх хэсэг -->
    <delete-confirm
      :show="deleteDialog"
      @cancel="deleteDialog = false"
      @delete="deleteGroup"
    />

    <v-snackbar
      v-model="success"
      :timeout="timeout"
      right
      top
      color="success"
      shaped
    >
      {{ $t("successRegister") }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="success = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>

    <v-snackbar
      v-model="error"
      :timeout="timeout"
      right
      top
      color="error"
      shaped
    >
      {{ $t("error") }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="error = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>

    <!-- EDIT CONTENT SECTION -->
    <v-dialog v-model="isContent" max-width="500">
      <v-card class="pa-4">
        <v-progress-linear
          v-model="valueDeterminate"
          color="deep-purple accent-4"
        ></v-progress-linear>
        <form action="">
          <v-text-field
            v-model="formContent.title"
            :error-messages="errors.title"
            type="text"
            :label="$t('content_name')"
          ></v-text-field>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <v-select
                v-model="formContent.type_id"
                :items="lesson_types"
                :error-messages="errors.type_id"
                :rules="[v => !!v || $t('must_choose_it')]"
                :label="$t('type_id')"
                required
                item-text="name"
                item-value="id"
              ></v-select>
            </div>
            <div class="col-md-6 col-sm-6">
              <v-select
                v-model="formContent.is_free"
                :items="yesno"
                :error-messages="errors.is_free"
                :rules="[v => !!v || $t('must_choose_it')]"
                :label="$t('is_free')"
                required
                item-text="name"
                item-value="id"
              ></v-select>
            </div>
            <div class="col-md-6 col-sm-6">
              <label> {{ $t("expired_time") }}: </label>
              <p>{{ secondsToHms(expired_time) }}</p>
            </div>
            <div class="col-md-6 col-sm-6">
              <span>{{ $t("input_video") }}</span>
              <input
                type="file"
                class="form-control"
                @change="select"
                accept="video/mp4,video/x-m4v,video/*"
              />
            </div>
          </div>
        </form>
        <div class="row ma-0">
          <v-btn
            class="mt-3"
            dark
            color="primary"
            small
            @click="saveContent"
            :loading="loadingContent"
          >
            <v-icon>mdi-save</v-icon>{{ $t("save") }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn class="mt-3" dark color="error" small @click="closeContent">
            <v-icon>mdi-save</v-icon>{{ $t("close") }}
          </v-btn>
        </div>
      </v-card>
    </v-dialog>

    <!-- EDIT GROUP SECTION -->
    <v-dialog v-model="isGroup" max-width="400">
      <v-card class="pa-4">
        <v-text-field
          v-model="formGroup.name"
          :error-messages="errors.name"
          type="text"
          :label="$t('group_name')"
        ></v-text-field>
        <div class="row ma-0">
          <v-btn
            class="mt-3"
            dark
            color="primary"
            small
            @click="addSubmitGroupBtn"
          >
            <v-icon>mdi-save</v-icon>{{ $t("save") }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn class="mt-3" dark color="error" small @click="isGroup = false">
            <v-icon>mdi-save</v-icon>{{ $t("cancel") }}
          </v-btn>
        </div>
      </v-card>
    </v-dialog>
    <v-dialog v-model="show" persistent max-width="900">
      <!-- Full Loading харуулах хэсэг -->
      <v-overlay :value="loading">
        <v-progress-circular indeterminate size="64"></v-progress-circular>
      </v-overlay>
      <!-- Stepper section -->
      <v-stepper v-model="e1">
        <v-stepper-header>
          <v-stepper-step :complete="e1 > 1" step="1">
            {{ $t("course_info") }}
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step :complete="e1 > 2" step="2">
            {{ $t("input_contents") }}
          </v-stepper-step>

          <v-divider></v-divider>

          <v-stepper-step step="3">
            {{ $t("publish_content") }}
          </v-stepper-step>
        </v-stepper-header>

        <v-stepper-items>
          <v-stepper-content step="1">
            <form ref="course" @submit.prevent="submit" class="scrollable">
              <v-text-field
                v-model="form.title"
                :label="$t('courseName')"
                :error-messages="errors.title"
                type="text"
              ></v-text-field>
              <div class="row">
                <div class="col-md-4">
                  <v-select
                    v-model="form.category_id"
                    :items="categoriesData()"
                    :error-messages="errors.category_id"
                    :rules="[v => !!v || $t('must_choose_it')]"
                    :label="$t('category')"
                    required
                    item-text="name"
                    item-value="id"
                  ></v-select>
                </div>
                <div class="col-md-4">
                  <v-select
                    v-model="form.level_id"
                    :items="levels()"
                    :error-messages="errors.level_id"
                    :rules="[v => !!v || $t('must_choose_it')]"
                    :label="$t('level')"
                    required
                    item-text="name"
                    item-value="id"
                  ></v-select>
                </div>
                <div class="col-md-4">
                  <v-select
                    v-model="form.language_id"
                    :items="languages"
                    :error-messages="errors.language_id"
                    :rules="[v => !!v || $t('must_choose_it')]"
                    :label="$t('language')"
                    required
                    item-text="name"
                    item-value="id"
                  ></v-select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <v-text-field
                    v-model="form.price"
                    :label="$t('price')"
                    :error-messages="errors.price"
                    :rules="[v => !!v || $t('must_input_it')]"
                    placeholder="1000.00"
                    type="number"
                    prefix="₮"
                  ></v-text-field>
                </div>
                <div class="col-md-6">
                  <v-text-field
                    v-model="form.sell_percent"
                    :label="$t('sell_percent')"
                    :error-messages="errors.sell_percent"
                    placeholder="100"
                    :rules="[
                      v => (v && v >= 0) || $t('minError'),
                      v => (v && v <= 100) || $t('maxError')
                    ]"
                    type="number"
                    suffix="%"
                  ></v-text-field>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <p>{{ $t("input_info_course") }}:</p>
                  <tiptap
                    v-model="form.description"
                    placeholder="Сургалтын дэлгэрэнгүй мэдээлэл оруулна уу."
                    class="my-3"
                  ></tiptap>
                </div>
                <div class="col">
                  <p>{{ $t("input_info_photo") }}:</p>
                  <v-image-input
                    v-model="form.image"
                    :imageHeight="150"
                    clearable
                    image-format="jpeg, png"
                    @input="handleFilesUpload"
                  />
                </div>
                <div class="col" v-if="form.src && !form.image">
                  <p>{{ $t("info_photo") }}</p>
                  <v-img :src="hostUrl + '/course/' + form.src" height="150px"> </v-img>
                </div>
              </div>
            </form>

            <v-row class="ma-0">
              <v-spacer></v-spacer>
              <v-btn
                color="primary mr-2"
                @click="clickStep1"
                small
                :loading="loading1"
              >
                {{ $t("continue") }}
              </v-btn>
              <v-btn text @click.stop="submitButton('cancel')" small>
                {{ $t("cancel") }}
              </v-btn>
            </v-row>
          </v-stepper-content>
          <!-- Хоёр дахь хэсэг -->
          <v-stepper-content step="2">
            <v-btn
              class="mb-3"
              dark
              color="deep-purple accent-2"
              block
              small
              @click="addGroup"
            >
              <v-icon>mdi-plus</v-icon>{{ $t("add_group") }}
            </v-btn>
            <div class="row px-4 mb-3">
              <div class="col-md-6" v-for="(item, i) in form.groups" :key="i">
                <v-card class="mb-6 pa-4" elevation="10">
                  <div class="row ma-0">
                    <p class="pa-2 text-subtitle-1 font-weight-bold ma-0">
                      {{ $t("group") + " " + (i + 1) + ": " }} {{ item.name }}
                    </p>
                    <v-spacer></v-spacer>
                    <v-btn icon @click="editGroup(item)" x-small>
                      <v-icon color="deep-purple darken-1">mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn icon @click="confirmDialog(item)" x-small>
                      <v-icon color="error">mdi-delete</v-icon>
                    </v-btn>
                    <!-- <v-btn icon>
                    <v-icon color="grey lighten-1">mdi-drag</v-icon>
                  </v-btn> -->
                  </div>
                  <v-divider></v-divider>
                  <v-list class="px-2">
                    <v-list-item
                      v-for="(subitem, ind) in item.contents"
                      :key="ind"
                    >
                      <v-list-item-content>
                        <v-list-item-title>
                          {{
                            $t("lesson") +
                              " " +
                              (ind + 1) +
                              ": " +
                              subitem.title
                          }}
                        </v-list-item-title>
                      </v-list-item-content>

                      <v-list-item-action>
                        <div class="flex justify-center">
                          <v-btn icon @click="editContent(subitem)" x-small>
                            <v-icon color="deep-purple darken-1"
                              >mdi-pencil</v-icon
                            >
                          </v-btn>
                          <v-btn icon @click="deleteContent(subitem)" x-small>
                            <v-icon color="error">mdi-delete</v-icon>
                          </v-btn>
                          <!-- <v-btn icon>
                        <v-icon color="grey lighten-1">mdi-information</v-icon>
                      </v-btn> -->
                        </div>
                      </v-list-item-action>
                    </v-list-item>
                  </v-list>
                  <v-btn
                    class="mt-3"
                    dark
                    color="deep-purple accent-3"
                    block
                    small
                    @click="seeIsContent(item)"
                  >
                    <v-icon>mdi-plus</v-icon>{{ $t("add_lesson") }}
                  </v-btn>
                </v-card>
              </div>
            </div>

            <div class="row ma-0">
              <v-btn color="primary" @click="e1 = 1" small icon>
                <!-- {{ $t("back") }} -->
                <v-icon>
                  mdi-keyboard-backspace
                </v-icon>
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn
                color="primary mr-2"
                @click="clickStep2"
                small
                :loading="loading2"
              >
                {{ $t("continue") }}
              </v-btn>
              <v-btn text @click.stop="submitButton('cancel')" small>
                {{ $t("cancel") }}
              </v-btn>
            </div>
          </v-stepper-content>

          <v-stepper-content step="3">
            <v-container class="text-center">
              <v-img src="/img/done.png" height="70" width="70" class="mx-auto">
              </v-img>
              <h3 class="display-1">Манай сайтыг сонгосонд баярлалаа.</h3>
              <v-divider class="my-3"></v-divider>

              <div class="mb-3">
                Таны сургалтыг амжилттай нийтлэлээ!
              </div>

              <v-btn color="primary" @click="jumpContent" small>
                {{ $t("watch_course") }}
              </v-btn>
            </v-container>
            <v-row class="ma-0">
              <v-btn color="primary" @click="e1 = 2" small icon>
                <!-- {{ $t("back") }} -->
                <v-icon>
                  mdi-keyboard-backspace
                </v-icon>
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn text @click.stop="submitButton('cancel')" small>
                {{ $t("close") }}
              </v-btn>
            </v-row>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-dialog>
  </div>
</template>

<script>
import axios from "axios";
import Tiptap from "../../components/core/Tiptap";
import DeleteConfirm from "../../components/core/DeleteConfirm";
import swal from "sweetalert2";
export default {
  props: ["show", "courseId"],
  // middleware: "auth-admin",
  components: {
    Tiptap,
    DeleteConfirm
  },
  data() {
    return {
      e1: 1,
      form: {},
      formGroup: {},
      expired_time: 0,
      formContent: {},
      loading: false,
      loading1: false,
      loading2: false,
      loadingContent: false,
      isGroup: false,
      deleteDialog: false,
      groupItem: {},
      isContent: false,
      valueDeterminate: 0,
      fileUpload: false,
      file: null,
      error: false,
      success: false,
      timeout: 3000,
      hostUrl: process.env.hostUrl,
      uploaded: 0,
      chunks: [],
      languages: [
        { id: 1, name: "Монгол" },
        { id: 2, name: "English" }
      ],
      yesno: [
        { id: 1, name: this.$t("yes") },
        { id: 2, name: this.$t("no") }
      ],
      lesson_types: [
        { id: 1, name: "Лекц" },
        { id: 2, name: "Шалгалт" }
      ],
      onFileInfo2: "",
      productImage: ""
    };
  },

  watch: {
    show: {
      handler(newVal) {
        this.e1 = 1;
        this.form = {};
        if (newVal) {
          if (this.courseId) {
            this.form.id = this.courseId;
            this.detailCourse();
          }
        } else {
          this.form.id = null;
        }
      },
      deep: true
    },
    chunks(n, o) {
      if (n.length > 0) {
        this.upload();
      }
    }
  },

  computed: {
    progress() {
      if (this.file) {
        return Math.floor((this.uploaded * 100) / this.file.size);
      }
    },

    formData() {
      let formData = new FormData();

      formData.set("is_last", this.chunks.length === 1 ? 1 : 0);
      formData.set("file", this.chunks[0], `${this.file.name}.part`);

      return formData;
    },

    config() {
      return {
        method: "POST",
        data: this.formData,
        url: "uploadFile",
        headers: {
          "Content-Type": "application/octet-stream"
        },
        onUploadProgress: event => {
          this.uploaded += event.loaded;
        }
      };
    }
  },

  methods: {
    submitButton(type) {
      this.$emit(type);
    },

    clickStep1() {
      // console.log(this.form);
      // swal.fire('aldaatai bna');
      this.saveData();
    },

    clickStep2() {
      // console.log(this.form);
      // this.saveData();
      this.e1 = 3;
    },

    clickStep3() {
      // console.log(this.form);
      // this.saveData();
    },

    handleFilesUpload(event) {
      this.productImage = event;
    },

    detailCourse() {
      if (this.form.id) {
        this.loading = true;
        axios.get("/course/" + this.form.id).then(
          res => {
            this.loading = false;
            this.form = res.data.data;
          },
          err => {
            this.loading = false;
            console.log("Aldaa garlaa", err);
          }
        );
      }
    },

    saveData() {
      if (this.courseId) {
        console.log(this.form);
        this.e1 = 2;
      } else {
        if (this.productImage) {
          this.loading1 = true;
          this.form.src = this.productImage;
          axios
            .post("/course", this.form)
            .then(res => {
              this.loading1 = false;
              this.e1 = 2;
              this.form = res.data.data;
              this.form.groups = [];
            })
            .catch(err => {
              this.loading1 = false;
              console.error(err);
            });
        }
      }
    },

    categoriesData() {
      return this.$store.getters["category/list"];
    },

    levels() {
      return this.$store.getters["level/list"];
    },

    courseValidate() {
      this.$refs.course[0].validate();
    },

    addGroup() {
      this.isGroup = true;
      this.formGroup.name = "";
      this.groupItem = {};
    },

    addSubmitGroupBtn() {
      this.isGroup = false;
      this.createGroup();
    },

    createGroup() {
      this.formGroup.course_id = this.form.id;
      if (this.groupItem.id) {
        axios
          .put("group/" + this.groupItem.id, this.formGroup)
          .then(res => {
            let group = res.data.data;
            this.$set(
              this.form.groups,
              this.form.groups
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.groupItem.id),
              group
            );
            this.groupItem = {};
          })
          .catch(e => {});
      } else {
        axios
          .post("/group", this.formGroup)
          .then(res => {
            this.groupItem = {};
            if (this.form.groups.length < 1) {
              this.detailCourse();
            }
            this.form.groups.push(res.data.data);
          })
          .catch(err => {
            console.error(err);
          });
      }
    },

    confirmDialog(item) {
      this.groupItem = item;
      this.deleteDialog = true;
    },

    editGroup(item) {
      this.groupItem = item;
      this.formGroup = item;
      this.isGroup = true;
    },

    deleteGroup() {
      if (this.groupItem.id) {
        axios
          .delete("group/" + this.groupItem.id)
          .then(res => {
            this.success = true;
            this.deleteDialog = false;
            this.groupItem = {};
          })
          .catch(e => {
            this.error = true;
          });
      } else {
        this.deleteDialog = false;
      }
    },

    seeIsContent(item) {
      this.valueDeterminate = 0;
      this.groupItem = item;
      this.formContent = {};
      this.isContent = true;
    },

    editContent(item) {
      this.isContent = true;
      this.formContent = item;
      this.expired_time = this.formContent.expired_time;
    },

    deleteContent(item) {
      if (item.id) {
        swal
          .fire({
            title: this.$t("hope_is_delete"),
            icon: "warning",
            showCancelButton: true,
            closeOnConfirm: false
          })
          .then(willDelete => {
            console.log(willDelete);
            if (willDelete.value) {
              axios
                .delete("content/" + item.id)
                .then(res => {
                  this.detailCourse();
                  swal.fire(this.$t("success"), "", "success");
                })
                .catch(e => {
                  swal.fire(this.$t("error"), "", "error");
                });
            }
          });
      }
    },

    saveContent() {
      this.formContent.group_id = this.groupItem.id;
      this.valueDeterminate = 0;
      this.formContent.expired_time = this.expired_time;
      if (this.formContent.id) {
        this.loadingContent = true;
        axios
          .put("content/" + this.formContent.id, this.formContent)
          .then(res => {
            this.success = true;
            this.loadingContent = false;
            let group = res.data.data;
            this.$set(
              this.groupItem.contents,
              this.groupItem.contents
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.formContent.id),
              group
            );
            this.groupItem = {};
          })
          .catch(e => {
            this.error = true;
            this.loadingContent = false;
          });
      } else {
        // this.formContent.video_url = this.formContent.video_url[0];
        if (this.fileUpload) {
          this.saveContentData();
        } else {
          this.createChunks();
        }
      }
    },

    onFilePicked(e) {
      console.log(e);
    },

    async select(event) {
      this.fileUpload = false;
      this.file = event.target.files.item(0);
      const time = new Date();
      const fileName = time.getTime() + "." + this.file.name.split(".").pop();
      this.formContent.video_url = fileName;
      this.file = new File([this.file], fileName, {
        type: this.file.type
      });

      const loadVideo = file =>
        new Promise((resolve, reject) => {
          try {
            let video = document.createElement("video");
            video.preload = "metadata";

            video.onloadedmetadata = function() {
              resolve(this);
            };

            video.onerror = function() {
              reject("Invalid video. Please select a video file.");
            };

            video.src = window.URL.createObjectURL(file);
          } catch (e) {
            reject(e);
          }
        });
      const video = await loadVideo(this.file);
      this.expired_time = video.duration;
    },

    upload() {
      this.loadingContent = true;
      axios(this.config)
        .then(response => {
          this.chunks.shift();
          this.valueDeterminate = Math.floor(
            (this.uploaded * 100) / this.file.size
          );
          if (response.data.file) {
            this.loadingContent = false;
            this.fileUpload = true;
            this.saveContentData();
          }
        })
        .catch(error => {
          this.error = true;
          this.loadingContent = false;
        });
    },

    saveContentData() {
      this.loadingContent = true;
      axios
        .post("/content", this.formContent)
        .then(res => {
          this.formContent.id = res.id;
          this.loadingContent = false;
          this.success = true;
          this.groupItem.contents.push(res.data.data);
          console.log("Контент амжилттай үүслээ.");
        })
        .catch(err => {
          this.loadingContent = false;
          this.error = true;
          console.error(err);
        });
    },

    // file-g olon hesegt huwaah
    createChunks() {
      // one chunk size
      let size = 2000000,
        chunks = Math.ceil(this.file.size / size);
      // divide into many parts
      for (let i = 0; i < chunks; i++) {
        // huvaagdsan hesguudiig chunks array-d hiih
        this.chunks.push(
          this.file.slice(
            i * size,
            Math.min(i * size + size, this.file.size),
            this.file.type
          )
        );
      }
    },

    secondsToHms(d) {
      d = Number(d);
      var h = Math.floor(d / 3600);
      var m = Math.floor((d % 3600) / 60);
      var s = Math.floor((d % 3600) % 60);

      var hDisplay = h > 0 ? h + (h == 1 ? " ц, " : " ц, ") : "";
      var mDisplay = m > 0 ? m + (m == 1 ? " м, " : " м, ") : "";
      var sDisplay = s > 0 ? s + (s == 1 ? " с" : " с") : "";
      return hDisplay + mDisplay + sDisplay;
    },

    closeContent() {
      this.isContent = false;
      this.valueDeterminate = 0;
    },

    jumpContent() {
      this.show = false;
      return this.$router.push("/training/" + this.form.id);
    }
  }
};
</script>
