<template>
  <v-app>
    <v-app-bar dense class="text-right" app>
      <v-app-bar-nav-icon
        v-if="user"
        @click.stop="rightDrawer = !rightDrawer"
      />
      <v-toolbar-title v-if="displayWidth > 600" v-text="title" to="/" />
      <v-spacer />
      <div>
        <v-btn icon color="indigo darken-4" to="/">
          <v-icon>mdi-home</v-icon>
        </v-btn>
        <v-menu
          v-model="value"
          :offset-y="true"
          transition="slide-y-transition"
          :close-on-click="true"
          :close-on-content-click="false"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-badge
                color="error"
                :content="selected.length"
                overlap
                v-if="selected.length"
              >
                <v-icon color="indigo darken-4">mdi-bell-outline</v-icon>
              </v-badge>
              <v-icon v-else color="indigo darken-4">mdi-bell-outline</v-icon>
            </v-btn>
          </template>
          <v-list max-width="450">
            <v-list-item two-line>
              <v-list-item-content>
                <v-list-item-title class="text-h5 font-weight-bold">{{
                  $t("notification")
                }}</v-list-item-title>
                <v-list-item-subtitle>{{ $t("news") }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
            <v-list-item-group
              v-model="selected"
              multiple
              active-class="pink--text"
            >
              <template v-for="(item, index) in notifItems">
                <v-list-item :key="item.title">
                  <template v-slot:default="{ active }">
                    <v-list-item-content>
                      <v-list-item-title
                        v-text="item.title"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        class="text--primary"
                        v-text="item.headline"
                      ></v-list-item-subtitle>
                      <v-list-item-subtitle
                        v-text="item.subtitle"
                      ></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                      <v-list-item-action-text
                        v-text="item.action"
                      ></v-list-item-action-text>
                      <v-icon v-if="!active" color="grey lighten-1">
                        mdi-star_border
                      </v-icon>

                      <v-icon v-else color="yellow">
                        mdi-star
                      </v-icon>
                    </v-list-item-action>
                  </template>
                </v-list-item>

                <v-divider
                  v-if="index + 1 < notifItems.length"
                  :key="index"
                ></v-divider>
              </template>
            </v-list-item-group>
          </v-list>
        </v-menu>

        <v-menu
          :offset-y="true"
          transition="slide-y-transition"
          :close-on-click="true"
          :close-on-content-click="true"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-if="displayWidth > 600"
              text
              color="indigo darken-4"
              v-bind="attrs"
              v-on="on"
              small
            >
              {{ $t("category") }}
              <v-icon>mdi-chevron-down</v-icon>
            </v-btn>
            <v-btn v-else icon color="indigo darken-4">
              <v-icon>mdi-shape</v-icon>
            </v-btn>
          </template>
          <v-list class="pa-0" max-width="250">
            <v-list-item-group active-class="deep-purple--text">
              <v-list-item
                v-for="item in categoriesData()"
                :key="item.id"
                :to="'/categories/' + item.id"
              >
                <v-list-item-icon style="width: 20px" class="mr-3">
                  <v-img :src="require('@/assets/img' + item.icon)"></v-img>
                </v-list-item-icon>
                <v-list-item-content class="pa-0">
                  <v-list-item-title v-text="item.name"></v-list-item-title>
                  <v-list-item-subtitle
                    v-text="item.description"
                  ></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>

        <span v-if="displayWidth > 768">
          <v-btn text color="indigo darken-4" small to="/guide">
            {{ $t("guide") }}
          </v-btn>
          <v-btn text color="indigo darken-4" small to="/service">
            {{ $t("service") }}
          </v-btn>
        </span>
        <span v-else>
          <v-btn icon color="indigo darken-4" to="/guide">
            <v-icon>mdi-television-guide</v-icon>
          </v-btn>
          <v-btn
            v-if="displayWidth > 395"
            icon
            color="indigo darken-4"
            to="/service"
          >
            <v-icon>mdi-face-agent</v-icon>
          </v-btn>
        </span>

        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              icon
              v-bind="attrs"
              v-on="on"
              color="indigo darken-4"
              to="/faq"
            >
              <v-icon>mdi-help-circle-outline</v-icon>
            </v-btn>
          </template>
          <span>{{ $t("more_qa") }}</span>
        </v-tooltip>
      </div>
      <v-spacer />
      <v-dialog
        v-if="!user"
        v-model="dialogLogin"
        transition="dialog-top-transition"
        max-width="400"
      >
        <template v-slot:activator="{ on, attrs }">
          <!-- <v-btn color="primary" v-bind="attrs" v-on="on">From the top</v-btn> -->
          <v-btn
            v-if="displayWidth > 768"
            text
            v-bind="attrs"
            v-on="on"
          >
            {{ $t("login") }}
          </v-btn>
          <v-btn v-else icon color="indigo darken-4" v-bind="attrs" v-on="on">
            <v-icon>mdi-login</v-icon>
          </v-btn>
        </template>
        <template>
          <Login v-on:close-dialog="closeDialog" />
        </template>
      </v-dialog>
      <!-- <div v-if="!user">
        <v-btn text color="black" to="/auth/login">
          {{ $t("login") }}
        </v-btn>
      </div> -->
      <v-chip
        v-else
        class="ma-2"
        color="deep-purple accent-4"
        text-color="white"
        :to="'/user/teacher/'+user.id"
      >
        <v-avatar left>
          <v-icon>mdi-account-circle</v-icon>
        </v-avatar>
        {{ user.first_name }}
      </v-chip>
    </v-app-bar>
    <div style="margin-top: 47px"></div>
    <Nuxt />

    <!-- Navigation -->
    <v-navigation-drawer v-if="user" v-model="rightDrawer" temporary fixed>
      <v-list>
        <v-list-item>
          <v-list-item-title>Сонголтоо хийнэ үү</v-list-item-title>
          <v-hover v-slot:default="{ hover }">
            <v-list-item-action
              @click.stop="rightDrawer = !rightDrawer"
              :elevation="hover ? 12 : 2"
            >
              <v-icon light>
                mdi-close
              </v-icon>
            </v-list-item-action>
          </v-hover>
        </v-list-item>
        <v-list-item
          two-line
          :class="miniVariant && 'px-0'"
          :to="'/user/teacher/' + user.id"
        >
          <v-list-item-avatar>
            <img :src="'https://randomuser.me/api/portraits/men/' + user.id +'.jpg'" />
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>{{ user.first_name }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(user.role) }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <div v-for="item in navItems" :key="item.icon">
          <v-list-item link :to="item.to" v-if="roles.ADMIN == user.role && item.isView.admin">
            <v-list-item-icon>
              <v-icon color="primary">{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            v-else-if="roles.TEACHER == user.role && item.isView.teacher"
            link
            :to="item.to"
          >
            <v-list-item-icon>
              <v-icon color="primary">{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            v-else-if="roles.STUDENT == user.role && item.isView.student"
            link
            :to="item.to"
          >
            <v-list-item-icon>
              <v-icon color="primary">{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>
      </v-list>
      <v-toolbar flat height="72">
        <v-switch
          v-model="$vuetify.theme.dark"
          inset
          label="Theme Dark"
          persistent-hint
        ></v-switch>
      </v-toolbar>
      <template v-slot:append>
        <div class="pa-2">
          <!-- Зиа одоо харцгаая -->
          <v-btn @click.prevent="logout" outlined color="primary" block>
            {{ $t("logout") }}
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <LocaleDropdown />
    <v-footer dark>
      <div class="row pt-5 justify-content-center mb-0">
        <div class="col-12  text-center">
          <v-btn
            v-for="icon in socialIcons"
            :key="icon.icon"
            class="mx-3"
            :color="icon.color"
            outlined
            small
            fab
          >
            <a :href="icon.link" target="_blank">
              <v-icon size="24px" :color="icon.color">
                {{ icon.icon }}
              </v-icon>
            </a>
          </v-btn>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-3">
          <p class="font-weight-medium">
            {{ $t("link") }}
          </p>
          <p style="padding: 0; margin: 0; cursor: pointer; font-size: 12px; ">
            <NuxtLink to="/" style="color: white;">{{
              $t("more_qa")
            }}</NuxtLink>
          </p>
          <p style="padding: 0; margin: 0; cursor: pointer; font-size: 12px;">
            <NuxtLink to="/" style="color: white;">{{
              $t("lessons")
            }}</NuxtLink>
          </p>
        </div>
        <div class="col-md-3">
          <p class="font-weight-medium">
            {{ $t("contact") }}
          </p>

          <p
            style="padding: 0; margin: 0"
            v-for="item in contacts"
            :key="item.href"
          >
            <v-icon size="15px">
              {{ item.icon }}
            </v-icon>
            <a
              :href="item.prefix + item.href"
              style="color: white; font-size: 12px"
              >{{ item.href }}</a
            >
          </p>
        </div>
        <div class="col-md-3"></div>
        <div class="text-center col-12">
          <v-divider class="mx-4"></v-divider>
          {{ new Date().getFullYear() }} — <strong>MN HAPPY</strong>
        </div>
      </div>
    </v-footer>
  </v-app>
</template>

<script>
// import Login from '~/components/login.vue'
import LocaleDropdown from "../components/LocaleDropdown";
import Login from "~/components/login.vue";
import { mdiAccount } from "@mdi/js";

export default {
  data() {
    return {
      name: "",
      clipped: true,
      drawer: false,
      fixed: false,
      dialogLogin: false,
      rightDrawer: false,
      selected: [2],
      title: this.$t("app_title"),
      miniVariant: false,
      displayWidth: 0,
      value: "",
      roles: this.$store.getters["roles/role"],
      icons: {
        mdiAccount
      },
      socialIcons: [
        {
          icon: "mdi-facebook",
          color: "light-blue darken-3",
          link: "https://www.facebook.com/"
        },
        {
          icon: "mdi-twitter",
          color: "light-blue lighten-1",
          link: "https://twitter.com/"
        },
        {
          icon: "mdi-instagram",
          color: "purple accent-3",
          link: "https://www.instagram.com/"
        }
      ],
      contacts: [
        {
          icon: "mdi-phone",
          prefix: "tel:",
          href: "(+976) 88952231"
        },
        {
          icon: "mdi-email",
          prefix: "mailto:",
          href: "e.learning@school.mn"
        }
      ],
      navItems: [
        {
          title: "Dashboard",
          icon: "mdi-view-dashboard",
          to: "/user/admin/dashboard",
          isView: {
            admin: true,
            teacher: true,
            student: false
          }
        },
        {
          title: this.$t('time-list'),
          icon: "mdi-animation-play",
          to: "/user/time-list",
          isView: {
            admin: true,
            teacher: true,
            student: true
          }
        },
        {
          title: this.$t("users"),
          icon: "mdi-account-group-outline",
          to: "/user/admin/users",
          isView: {
            admin: true,
            teacher: false,
            student: false
          }
        },
        {
          title: this.$t("about"),
          icon: "mdi-help-box",
          to: "/service",
          isView: {
            admin: true,
            teacher: true,
            student: true
          }
        }
      ],
      notifItems: [
        {
          action: "15 min",
          headline: "Brunch this weekend?",
          title: "Ali Connors",
          subtitle:
            "I'll be in your neighborhood doing errands this weekend. Do you want to hang out?"
        },
        {
          action: "2 hr",
          headline: "Summer BBQ",
          title: "me, Scrott, Jennifer",
          subtitle: "Wish I could come, but I'm out of town this weekend."
        },
        {
          action: "6 hr",
          headline: "Oui oui",
          title: "Sandra Adams",
          subtitle: "Do you have Paris recommendations? Have you ever been?"
        },
        {
          action: "12 hr",
          headline: "Birthday gift",
          title: "Trevor Hansen",
          subtitle:
            "Have any ideas about what we should get Heidi for her birthday?"
        },
        {
          action: "18hr",
          headline: "Recipe to try",
          title: "Britta Holt",
          subtitle:
            "We should eat this: Grate, Squash, Corn, and tomatillo Tacos."
        }
      ]
    };
  },

  components: {
    LocaleDropdown,
    Login
  },

  mounted() {
    this.getDispWidth();
    this.$store.dispatch("category/fetch");
    this.$store.dispatch("level/fetch");
  },

  methods: {
    async logout() {
      await this.$store.dispatch("auth/logout");
      this.$router.push({ name: "index" });
    },

    closeDialog: function() {
      console.log("close dialog 2");
      this.dialogLogin = false;
    },

    getDispWidth() {
      this.displayWidth = this.$vuetify.breakpoint.width;
    },

    categoriesData() {
      return this.$store.getters["category/list"];
    }
  }
};
</script>
