<template>
  <v-container>
    <delete-confirm
      :show="deleteDialog"
      @cancel="deleteDialog = false"
      @delete="destroyUser"
    />
    <v-snackbar
      v-model="success"
      :timeout="timeout"
      right
      top
      color="success"
      shaped
    >
      {{ $t("successRegister") }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="success = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
    <v-data-table
      :headers="headers"
      :items="users"
      sort-by="id"
      :search="search"
      class="elevation-1"
      :loading-text="$t('loading')"
      :loading="loading"
      :items-per-page="pageMeta.per_page"
      :footer-props="{
        itemsPerPageText: $t('per_page'),
        prevIcon: '',
        nextIcon: '',
        disableItemsPerPage: true
      }"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>
            <v-select
              :items="roles"
              v-model="choseUser"
              :label="$t('users')"
              item-text="name"
              item-value="value"
              prepend-icon="mdi-account-multiple"
              v-on:change="changeUser()"
              dense
            >
              <template v-slot:prepend-item>
                <v-list-item-title @click="toggle">
                  <v-list-item-content>
                    <v-list-item-title>{{ $t("all") }}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item-title>
                <v-divider class="mt-2"></v-divider>
              </template>
            </v-select>
          </v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            :label="$t('search')"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="550px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
                >{{ $t("userRegister") }}</v-btn
              >
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ $t(formTitle) }}</span>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <form
                    ref="form"
                    @submit.prevent="submit"
                    class="register-form"
                    id="register-form"
                  >
                    <v-text-field
                      v-model="form.first_name"
                      :label="$t('userName')"
                      :error-messages="errors.first_name"
                      prepend-icon="mdi-account"
                      type="text"
                    ></v-text-field>
                    <v-text-field
                      v-model="form.email"
                      :label="$t('email')"
                      prepend-icon="mdi-email"
                      type="email"
                      :error-messages="errors.email"
                    ></v-text-field>
                    <v-text-field
                      v-model="form.login_name"
                      :label="$t('login_name')"
                      prepend-icon="mdi-name"
                      type="text"
                      :error-messages="errors.login_name"
                    ></v-text-field>
                    <v-select
                      v-model="form.role"
                      :items="roles"
                      :error-messages="errors.role"
                      :rules="[v => !!v || $t('must_choose_it')]"
                      :label="$t('role')"
                      prepend-icon="mdi-account-circle"
                      required
                      item-text="name"
                      item-value="value"
                    ></v-select>
                    <v-text-field
                      v-if="editedIndex == -1"
                      v-model="form.password"
                      :error-messages="errors.password"
                      :label="$t('password')"
                      prepend-icon="mdi-lock"
                      @click:append="() => (passvalue = !passvalue)"
                      :type="passvalue ? 'password' : 'text'"
                      :append-icon="passvalue ? 'mdi-eye' : 'mdi-eye-off'"
                    ></v-text-field>
                    <v-text-field
                      v-if="editedIndex == -1"
                      v-model="form.password"
                      :label="$t('rePassword')"
                      prepend-icon="mdi-lock-outline"
                      @click:append="() => (passvalue1 = !passvalue1)"
                      :type="passvalue1 ? 'password' : 'text'"
                      :append-icon="passvalue1 ? 'mdi-eye' : 'mdi-eye-off'"
                    ></v-text-field>
                  </form>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" @click="close" outlined>{{
                  $t("cancel")
                }}</v-btn>
                <v-btn
                  color="blue darken-1"
                  @click="save"
                  :loading="form.busy"
                  outlined
                  >{{ $t("save") }}</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.role`]="{ item }">
        {{ $t(item.role) }}
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              small
              class="mr-2"
              @click="editItem(item)"
              color="primary"
              v-bind="attrs"
              v-on="on"
            >
              mdi-pencil
            </v-icon>
          </template>
          <span>{{ $t("edit") }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              small
              @click="deleteItem(item.id)"
              color="error"
              v-bind="attrs"
              v-on="on"
            >
              mdi-delete
            </v-icon>
          </template>
          <span>{{ $t("delete") }}</span>
        </v-tooltip>
      </template>
      <template v-slot:no-data>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              icon
              @click="initialize(false, 0)"
              v-bind="attrs"
              v-on="on"
              ><v-icon>mdi-refresh</v-icon></v-btn
            >
          </template>
          <span>{{ $t("refresh") }}</span>
        </v-tooltip>
      </template>
      <!-- <template v-slot:pageText="props">
        Lignes {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
      </template> -->
      <template v-slot:footer.page-text="props">
        {{ pageMeta.from }} - {{ pageMeta.to }} / {{ props.itemsLength = pageMeta.total }}
      </template>
      <!-- :footer-props="{
        showFirstLastPage: true,
        itemsPerPageOptions: [5, 10, -1],
        'items-per-page-text': 'Хуудаслалт'
      }" -->
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        v-model="pageMeta.current_page"
        :length="pageMeta.last_page"
        total-visible="7"
        circle
        @input="handlePageChange"
      ></v-pagination>
    </div>
  </v-container>
</template>

<script>
import axios from "axios";
import DeleteConfirm from "../../../components/core/DeleteConfirm";
export default {
  middleware: "auth-admin",
  components: {
    DeleteConfirm
  },
  data() {
    return {
      timeout: 3000,
      passvalue1: true,
      passvalue: true,
      choseUser: "",
      dialog: false,
      success: false,
      deleteDialog: false,
      loading: false,
      userId: 0,
      search: "",
      pageMeta: {},
      pageLinks: {},
      page: 2,
      headers: [
        {
          text: this.$t("register_id"),
          align: "start",
          value: "id"
        },
        { text: this.$t("name"), value: "first_name" },
        { text: this.$t("role"), value: "role" },
        { text: this.$t("email"), value: "email" },
        { text: this.$t("action"), value: "actions", sortable: false }
      ],
      users: [],
      tempUsers: [],
      editedIndex: -1,
      editedItem: {
        id: "",
        first_name: "",
        email: "",
        role: ""
      },
      defaultItem: {
        id: "",
        first_name: "",
        email: "",
        role: ""
      },
      form: {
        email: "test@test.com",
        first_name: "test",
        password: "test123",
        role: "admin",
        login_name: "test"
      },
      roles: [
        { name: this.$t("admin"), value: "admin" },
        { name: this.$t("teacher"), value: "teacher" },
        { name: this.$t("student"), value: "student" }
      ]
    };
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "new_Item" : "edit_Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize(false, 0);
  },

  methods: {
    initialize(isPage, page) {
      if (this.user) {
        let link = '/users';
        if (isPage) {
          link = link + '?page=' + page + '&size=5';
        }
        this.loading = true;
        axios.get(link).then(
          res => {
            this.loading = false;
            this.users = res.data.data;
            this.tempUsers = this.users;
            this.pageMeta = res.data.meta;
          },
          err => {
            this.loading = false;
            console.log("Aldaa garlaa", err);
          }
        );
      }
    },

    editItem(item) {
      this.editedIndex = this.users.indexOf(item);
      this.form = item;
      this.userId = item.id;
      this.dialog = true;
    },

    deleteItem(item) {
      this.userId = item;
      this.deleteDialog = true;
    },

    destroyUser() {
      axios
        .delete("users/" + this.userId)
        .then(res => {
          this.deleteDialog = false;
          this.users.splice(
            this.users
              .map(function(e) {
                return e.id;
              })
              .indexOf(this.userId),
            1
          );
          this.tempUsers = this.users;
        })
        .catch(e => {});
    },

    close() {
      this.dialog = false;
      // this.clearForm();
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async save() {
      if (this.editedIndex > -1) {
        axios
          .put("users/" + this.userId, this.form)
          .then(res => {
            let user = res.data.data;
            this.$set(
              this.users,
              this.users
                .map(function(e) {
                  return e.id;
                })
                .indexOf(this.userId),
              user
            );
            this.tempUsers = this.users;
            this.success = true;
            this.close();
          })
          .catch(e => {});
      } else {
        // this.users.push(this.editedItem);
        // this.form.login_name = this.form.email;
        await axios.post("/register", this.form).then(
          res => {
            this.success = true;
            this.initialize(false, 0);
            this.close();
          },
          err => {
            console.log(err);
          }
        );
      }
    },

    changeUser() {
      this.users = this.tempUsers.filter(e => e.role === this.choseUser);
    },

    toggle() {
      this.choseUser = null;
      this.users = this.tempUsers;
    },

    clearForm() {
      this.form = {};
    },

    handlePageChange(value) {
      this.initialize(true, value);
    },
  }
};
</script>
