<template>
  <div>
    <delete-confirm
      :show="deleteDialog"
      @cancel="deleteDialog = false"
      @delete="destroyUser"
    />
    <v-snackbar v-model="success" :timeout="timeout" right top color="success" shaped>
      {{ $t("success") }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="success = false"> Close </v-btn>
      </template>
    </v-snackbar>

    <v-dialog v-model="dialog" max-width="550px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ $t(formTitle) }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <form
              ref="form"
              @submit.prevent="submit"
              class="register-form"
              id="register-form"
            >
              <v-text-field
                v-model="form.user_id"
                :counter="10"
                label="Дугаар"
                type="number"
                required
              ></v-text-field>
              <div class="row justify-content-center">
                <div class="col-6">
                  <v-checkbox v-model="form.t09" label="09:00"></v-checkbox>
                  <v-checkbox v-model="form.t10" label="10:00"></v-checkbox>
                  <v-checkbox v-model="form.t11" label="11:00"></v-checkbox>
                  <v-checkbox v-model="form.t12" label="12:00"></v-checkbox>
                  <v-checkbox v-model="form.t13" label="13:00"></v-checkbox>
                  <v-checkbox v-model="form.t14" label="14:00"></v-checkbox>
                  <v-checkbox v-model="form.t15" label="15:00"></v-checkbox>
                  <v-checkbox v-model="form.t16" label="16:00"></v-checkbox>
                  <v-checkbox v-model="form.t17" label="17:00"></v-checkbox>
                  <v-checkbox v-model="form.t18" label="18:00"></v-checkbox>
                  <v-checkbox v-model="form.t19" label="19:00"></v-checkbox>
                  <v-checkbox v-model="form.t20" label="20:00"></v-checkbox>
                </div>
                <div class="col-6">
                  <v-checkbox v-model="form.t21" label="21:00"></v-checkbox>
                  <v-checkbox v-model="form.t22" label="22:00"></v-checkbox>
                  <v-checkbox v-model="form.t23" label="23:00"></v-checkbox>
                  <v-checkbox v-model="form.t00" label="00:00"></v-checkbox>
                  <v-checkbox v-model="form.t01" label="01:00"></v-checkbox>
                  <v-checkbox v-model="form.t02" label="02:00"></v-checkbox>
                  <v-checkbox v-model="form.t03" label="03:00"></v-checkbox>
                  <v-checkbox v-model="form.t04" label="04:00"></v-checkbox>
                  <v-checkbox v-model="form.t05" label="05:00"></v-checkbox>
                  <v-checkbox v-model="form.t06" label="06:00"></v-checkbox>
                  <v-checkbox v-model="form.t07" label="07:00"></v-checkbox>
                  <v-checkbox v-model="form.t08" label="08:00"></v-checkbox>
                </div>
              </div>
            </form>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" @click="close" outlined>{{ $t("cancel") }}</v-btn>
          <v-btn color="blue darken-1" @click="save" :loading="form.busy" outlined>{{
            $t("save")
          }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-data-table
      :headers="headers"
      :items="users"
      sort-by="id"
      :search="search"
      class="elevation-1"
      :loading-text="$t('loading')"
      :loading="loading"
      :items-per-page="pageMeta.per_page"
      :footer-props="{
        itemsPerPageText: $t('per_page'),
        prevIcon: '',
        nextIcon: '',
        disableItemsPerPage: true,
      }"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            :label="$t('search')"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn color="primary" dark class="mb-2" @click="createTime"
            >Цаг бүртгэл нэмэх</v-btn
          >
        </v-toolbar>
      </template>
      <template v-slot:[`item.t00`]="{ item }">
        <v-simple-checkbox v-model="item.t00" disabled ></v-simple-checkbox>
        <!-- <v-checkbox v-model="item.t00" readonly  class="shrink mt-0"></v-checkbox> -->
      </template>
      <template v-slot:[`item.t01`]="{ item }">
        <v-simple-checkbox v-model="item.t01" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t02`]="{ item }">
        <v-simple-checkbox v-model="item.t02" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t03`]="{ item }">
        <v-simple-checkbox v-model="item.t03" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t04`]="{ item }">
        <v-simple-checkbox v-model="item.t04" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t05`]="{ item }">
        <v-simple-checkbox v-model="item.t05" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t06`]="{ item }">
        <v-simple-checkbox v-model="item.t06" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t07`]="{ item }">
        <v-simple-checkbox v-model="item.t07" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t08`]="{ item }">
        <v-simple-checkbox v-model="item.t08" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t09`]="{ item }">
        <v-simple-checkbox v-model="item.t09" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t10`]="{ item }">
        <v-simple-checkbox v-model="item.t10" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t11`]="{ item }">
        <v-simple-checkbox v-model="item.t11" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t12`]="{ item }">
        <v-simple-checkbox v-model="item.t12" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t13`]="{ item }">
        <v-simple-checkbox v-model="item.t13" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t14`]="{ item }">
        <v-simple-checkbox v-model="item.t14" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t15`]="{ item }">
        <v-simple-checkbox v-model="item.t15" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t16`]="{ item }">
        <v-simple-checkbox v-model="item.t16" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t17`]="{ item }">
        <v-simple-checkbox v-model="item.t17" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t18`]="{ item }">
        <v-simple-checkbox v-model="item.t18" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t19`]="{ item }">
        <v-simple-checkbox v-model="item.t19" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t20`]="{ item }">
        <v-simple-checkbox v-model="item.t20" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t21`]="{ item }">
        <v-simple-checkbox v-model="item.t21" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t22`]="{ item }">
        <v-simple-checkbox v-model="item.t22" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.t23`]="{ item }">
        <v-simple-checkbox v-model="item.t23" disabled></v-simple-checkbox>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              small
              class="mr-2"
              @click="editItem(item)"
              color="primary"
              v-bind="attrs"
              v-on="on"
            >
              mdi-pencil
            </v-icon>
          </template>
          <span>{{ $t("edit") }}</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-icon
              small
              @click="deleteItem(item.id)"
              color="error"
              v-bind="attrs"
              v-on="on"
            >
              mdi-delete
            </v-icon>
          </template>
          <span>{{ $t("delete") }}</span>
        </v-tooltip>
      </template>
      <template v-slot:no-data>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              icon
              @click="initialize(false, 0)"
              v-bind="attrs"
              v-on="on"
              ><v-icon>mdi-refresh</v-icon></v-btn
            >
          </template>
          <span>{{ $t("refresh") }}</span>
        </v-tooltip>
      </template>
      <!-- <template v-slot:pageText="props">
        Lignes {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
      </template> -->
      <template v-slot:footer.page-text="props">
        {{ pageMeta.from }} - {{ pageMeta.to }} /
        {{ (props.itemsLength = pageMeta.total) }}
      </template>
      <!-- :footer-props="{
        showFirstLastPage: true,
        itemsPerPageOptions: [5, 10, -1],
        'items-per-page-text': 'Хуудаслалт'
      }" -->
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        v-model="pageMeta.current_page"
        :length="pageMeta.last_page"
        total-visible="7"
        circle
        @input="handlePageChange"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import DeleteConfirm from "../../components/core/DeleteConfirm";
export default {
  middleware: "auth-admin",
  components: {
    DeleteConfirm,
  },
  data() {
    return {
      timeout: 3000,
      passvalue1: true,
      passvalue: true,
      choseUser: "",
      dialog: false,
      success: false,
      deleteDialog: false,
      loading: false,
      userId: 0,
      search: "",
      pageMeta: {},
      pageLinks: {},
      page: 2,
      headers: [
        {
          text: this.$t("number"),
          align: "start",
          value: "user_id",
        },
        { text: "09:00", value: "t09" },
        { text: "10:00", value: "t10" },
        { text: "11:00", value: "t11" },
        { text: "12:00", value: "t12" },
        { text: "13:00", value: "t13" },
        { text: "14:00", value: "t14" },
        { text: "15:00", value: "t15" },
        { text: "16:00", value: "t16" },
        { text: "17:00", value: "t17" },
        { text: "18:00", value: "t18" },
        { text: "19:00", value: "t19" },
        { text: "20:00", value: "t20" },
        { text: "21:00", value: "t21" },
        { text: "22:00", value: "t22" },
        { text: "23:00", value: "t23" },
        { text: "00:00", value: "t00" },
        { text: "01:00", value: "t01" },
        { text: "02:00", value: "t02" },
        { text: "03:00", value: "t03" },
        { text: "04:00", value: "t04" },
        { text: "05:00", value: "t05" },
        { text: "06:00", value: "t06" },
        { text: "07:00", value: "t07" },
        { text: "08:00", value: "t08" },
        { text: this.$t("action"), value: "actions", sortable: false }
      ],
      users: [],
      tempUsers: [],
      editedIndex: -1,
      editedItem: {
        id: "",
        first_name: "",
        email: "",
        role: "",
      },
      defaultItem: {},
      form: {},
      roles: [
        { name: this.$t("admin"), value: "admin" },
        { name: this.$t("teacher"), value: "teacher" },
        { name: this.$t("student"), value: "student" },
      ],
    };
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "new_Item" : "edit_Item";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.initialize(false, 0);
  },

  methods: {
    initialize(isPage, page) {
      let link = "/time-lists";
      if (isPage) {
        link = link + "?page=" + page + "&size=5";
      }
      this.loading = true;
      axios.get(link).then(
        (res) => {
          this.loading = false;
          this.users = res.data.data;
          this.tempUsers = this.users;
          this.pageMeta = res.data.meta;
          for (let index = 0; index < this.users.length; index++) {
            const element = this.users[index];
            element.t00 = element.t00 ? true : false;
            element.t01 = element.t01 ? true : false;
            element.t02 = element.t02 ? true : false;
            element.t03 = element.t03 ? true : false;
            element.t04 = element.t04 ? true : false;
            element.t05 = element.t05 ? true : false;
            element.t06 = element.t06 ? true : false;
            element.t07 = element.t07 ? true : false;
            element.t08 = element.t08 ? true : false;
            element.t09 = element.t09 ? true : false;
            element.t10 = element.t10 ? true : false;
            element.t11 = element.t11 ? true : false;
            element.t12 = element.t12 ? true : false;
            element.t13 = element.t13 ? true : false;
            element.t14 = element.t14 ? true : false;
            element.t15 = element.t15 ? true : false;
            element.t16 = element.t16 ? true : false;
            element.t17 = element.t17 ? true : false;
            element.t18 = element.t18 ? true : false;
            element.t19 = element.t19 ? true : false;
            element.t20 = element.t20 ? true : false;
            element.t21 = element.t21 ? true : false;
            element.t22 = element.t22 ? true : false;
            element.t23 = element.t23 ? true : false;
          }
        },
        (err) => {
          this.loading = false;
          console.log("Aldaa garlaa", err);
        }
      );
    },

    editItem(item) {
      this.editedIndex = this.users.indexOf(item);
      this.form = item;
      this.userId = item.id;
      this.dialog = true;
    },

    deleteItem(item) {
      this.userId = item;
      this.deleteDialog = true;
    },

    destroyUser() {
      axios
        .delete("time-lists/" + this.userId)
        .then((res) => {
          this.deleteDialog = false;
          this.users.splice(
            this.users
              .map(function (e) {
                return e.id;
              })
              .indexOf(this.userId),
            1
          );
          this.tempUsers = this.users;
        })
        .catch((e) => {});
    },

    close() {
      this.dialog = false;
      this.form = {};
      // this.clearForm();
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async save() {
      if (this.editedIndex > -1) {
        axios
          .put("time-lists/" + this.userId, this.form)
          .then((res) => {
            let user = res.data.data;
            this.$set(
              this.users,
              this.users
                .map(function (e) {
                  return e.id;
                })
                .indexOf(this.userId),
              user
            );
            this.tempUsers = this.users;
            this.success = true;
            this.close();
          })
          .catch((e) => {});
      } else {
        // this.users.push(this.editedItem);
        // this.form.login_name = this.form.email;
        const data = {};
        await axios.post("/time-lists", this.form).then(
          (res) => {
            this.success = true;
            this.initialize(false, 0);
            this.close();
          },
          (err) => {
            console.log(err);
          }
        );
      }
    },

    changeUser() {
      this.users = this.tempUsers.filter((e) => e.role === this.choseUser);
    },

    toggle() {
      this.choseUser = null;
      this.users = this.tempUsers;
    },

    clearForm() {
      this.form = {};
    },

    handlePageChange(value) {
      this.initialize(true, value);
    },

    createTime() {
      this.dialog = true;
      if(this.user) {
        this.form.user_id = this.user.id;
      }
    }
  },
};
</script>
