<template>
  <v-dialog scrollable persistent v-model="show" max-width="330">
    <v-card>
      <v-card-title class="text-center">{{$t('hope_is_delete')}}</v-card-title>
      <v-card-actions>
        <v-spacer/>
        <v-btn depressed @click.stop="submit('cancel')" v-text="$t('no')"></v-btn>
        <v-btn depressed @click.stop="submit('delete')" color="error" v-text="$t('yes')"></v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { Component, Model, Prop, Vue, Watch } from 'nuxt-property-decorator'
@Component({
})
export default class DeleteConfirm extends Vue {
  name = 'DeleteConfirm';
  @Prop(Boolean) show

  submit(type){
    this.$emit(type)
  }
}
</script>
