@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.faq {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.cattitle {
  font-size: 30px;
  font-weight: 700;
  margin: 50px 0 20px 0;
}

.av-border {
  border-width: 2px;
  border-style: solid;
}

.grayscale {
  filter: grayscale(100%);
}

.gradient {
  letter-spacing: 0;
  background: transparent linear-gradient(261deg, #3426b3, #6e2780) 0 0
    no-repeat padding-box;
  width: 100%;
}

.bg-gradient {
  background: transparent linear-gradient(261deg, #3426b3, #6e2780) 0 0
    no-repeat padding-box;
}

.hooper-list ul {
  padding-left: 0;
}

.primaryColor {
  color: #3426b3;
}

.slide-controller {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 42px;
  height: 42px;
  top: calc(50% - 21px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider .right {
  right: -21px;
}

.slider .left {
  margin-left: -20px;
}

.slider {
  position: relative;
  padding-left: 10px;
}

.hooper-indicator {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background: transparent linear-gradient(261deg, #3426b33f, #6e278058) 0 0
    no-repeat padding-box;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent linear-gradient(261deg, #3426b38a, #6e2780) 0 0
    no-repeat padding-box;
}

.maxw-250 {
  max-width: 250px;
}

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  /* opacity: 0.5; */
  background: transparent linear-gradient(261deg, #3426b33f, #6e278058) 0 0
    no-repeat padding-box;
  position: absolute;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  .language {
    position: fixed;
    bottom: 25%;
    right: 0;
    z-index: 10;
  }

  .btnLangSelected {
    background: transparent linear-gradient(261deg, #3426b3, #6e2780) 0 0
      no-repeat padding-box;
    border: none;
    color: #fff !important;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: bold;
  }

  .btnLangSelected:hover {
    color: white;
  }

  .language a {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .btnLang {
    background-color: rgba(91, 69, 140, 0.296);
    border: none;
    color: #532593 !important;
    padding: 8px 22px;
    font-size: 14px;
    transition: 0.4s;
    font-weight: bold;
  }

  .btnLang:hover {
    background: transparent linear-gradient(261deg, #3426b34d, #6e278056) 0 0
      no-repeat padding-box;
  }
}

@media only screen and (max-width: 767px) {
  .language {
    display: none;
  }
}

:focus {
  outline: none;
}
