<template>
  <!-- <v-menu
    left
    bottom
  >
    <template v-slot:activator="{ on }">
      <v-btn text color="black lighten-3" v-on="on">
        {{ locales[locale] }}
        <v-icon>mdi-translate</v-icon>
      </v-btn>
    </template>

    <v-list>
      <v-list-item
        v-for="(value, key) in locales" :key="key"
        @click.prevent="setLocale(key)"
      >
        <v-list-item-title>{{ value }}</v-list-item-title>
      </v-list-item>
    </v-list>

  </v-menu> -->
  <div class="language">
    <div v-for="(value, key) in locales" :key="key">
      <a
        href="javascript:void(0)"
        :class="[(locales[locale]==value)?`btnLangSelected`:`btnLang`]"
        v-on:click="setLocale(key)"
      >
        {{ value }}
      </a>
    </div>

    <!-- <a href="" class="btnLang">
          EN
      </a> -->
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { loadMessages } from "~/plugins/i18n";

export default {
  computed: mapGetters({
    locale: "lang/locale",
    locales: "lang/locales"
  }),

  methods: {
    setLocale(locale) {
      if (this.$i18n.locale !== locale) {
        loadMessages(locale);

        this.$store.dispatch("lang/setLocale", { locale });
      }
    }
  }
};
</script>
